<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="type" class="col-form-label">Name:</label>
      <select class="form-control" id="type" type="file" placeholder="Model..." [(ngModel)] = "userName" [ngModelOptions]="{standalone: true}">
        <option>BMW</option>
        <option>Audi</option>
        <option>Renault</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender" class="col-form-label">Gender:</label>
      <input class="form-control" id="gender" type="text" placeholder="Engine..." [(ngModel)] = "userGender" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="age" class="col-form-label">Age:</label>
      <input class="form-control" id="age" type="text" placeholder="System..." [(ngModel)] = "userAge" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="mob" class="col-form-label">Mobility:</label>
      <select class="form-control" id="mob" type="text" placeholder="Model..." [(ngModel)] = "mob_on_dem" [ngModelOptions]="{standalone: true}">
        <option>BMW</option>
        <option>Audi</option>
        <option>Renault</option>
      </select>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="last-button" (click) = "addUser()">Add a user</button>
  <div class="finalText"></div>
</div>
