<div class="modal-body">
  <form (ngSubmit) = "submitForm()" #form = "ngForm">
    <div class="form-group">
      <label for="name" class="col-form-label">Name:</label>
      <input class="form-control"
             id="name"
             type="text"
             placeholder="Name..."
             [(ngModel)] = "userName"
             [ngModelOptions]="{standalone: true}">
    </div>
    <label for="age" class="col-form-label">Gender:</label>
    <select class="form-control"
            id="gender"
            type="text"
            placeholder="Gender..."
            [(ngModel)] = "userGender"
            [ngModelOptions]="{standalone: true}">
      <option selected>Male</option>
      <option>Female</option>
      <option>N/A</option>
      </select>
    <div class="form-group">
      <label for="age" class="col-form-label">Age:</label>
      <input class="form-control"
             id="age"
             type="text"
             placeholder="Age..."
             [(ngModel)] = "userAge"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="mob" class="col-form-label">Mobility:</label>
      <select class="form-control"
              id="mob"
              type="text"
              placeholder="Mobility..."
              [(ngModel)] = "mob_on_dem"
              [ngModelOptions]="{standalone: true}">
        <option>Need</option>
        <option>Don't need</option>

      </select>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="last-button" (click) = "addUser()">Add a user</button>
  <div class="finalText"></div>
</div>
